
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    height: auto;
}
.header-image {
    margin: 0px;
    padding: 40px;
    width: 250px;
}
section {
    height: 600px;
    padding: 30px;
}
body {
    background-image: url(../img/georgygirl-texture-318907.jpg);
    height: auto;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
nav ul {
    align-items: center;
    display: inline;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}